<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index/main.css' %}">
    <title>Main Track</title>
</head>

<body>
    <main>
        <div class="title">
            <h1>Main Track</h1>
        </div>
        <div class="all_buttons">
            <button>
                <a href='#'>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Create Users </span>
                </a>
            </button>
            <button>
                <a href='#'>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Create Service </span>
                </a>
            </button>
            <button>
                <a href='#'>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Create Report </span>
                </a>
            </button>
            <button>
                <a href='#'>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Edit Report </span>
                </a>
            </button>
            <button>
                <a href='#'>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Delete Report </span>
                </a>
            </button>
            <button>
                <a href='#'>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> View Report </span>
                </a>
            </button>
            <button>
                <a href='#'>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Export Report </span>
                </a>
            </button>
        </div>
    </main>
</body>

</html>